# Server Settings
PORT=4000
ENVIRONMENT=development

# PostgreSQL Settings
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_MAX_OPEN_CONNS=25
POSTGRES_MAX_IDLE_TIME="15m" # format: 1s 10m 1h

# Rate Limiting Settings
LIMITER_RPS=2
LIMITER_BURST=4
LIMITER_ENABLED=true