# Server Settings
SERVER_PORT=4000
SERVER_ENVIRONMENT=development # (development|staging|production)

# PostgreSQL Settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_MAX_OPEN_CONNS=25
POSTGRES_MAX_IDLE_TIME="15m" # format: 1s 10m 1h

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# Rate Limiting Settings
LIMITER_RPS=2
LIMITER_BURST=4
LIMITER_ENABLED=true

# SMTP Settings
SMTP_HOST=example.com
SMTP_PORT=25 # (25|465|587|2525)
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_FROM=name <from@example.com>